<ion-view view-title="Forgot password?">
  <ion-content>

    <ion-refresher
       pulling-text="Pull to refresh..."
       on-refresh="doRefresh()"
			   <div class="forgot">
			<p>If you forgot your password </p>
			<label class="item item-input item-stacked-label">
			   <span class="input-label">Email</span>
			   <input name="email" type="email" placeholder="ex. johnDoe@mail.com">
			 </label>
			 <div class="padding">
			   <button class="button button-block button-balanced" ng-click="forgotpassword(email)">
				 Sign-In
			   </button>


			</div>
	   
	   >
  
</div>
</ion-refresher>
