<html>
<head>


</head>
<body id="loginImg">
<ion-view view-title="{{'loginTitle' | translate }}">
<ion-content>

<form name="loginForm">
  <div class="login">
    <label class="item item-input item-floating-label">
      <span class="input-label">{{'organisationLabel' | translate }}</span>
      <input type="text" ng-model='user.farm' placeholder="{{'organisationLabel' | translate }}" name="farm">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{"usernameLabel" | translate }}</span>
      <input type="text" placeholder="{{'usernameLabel' | translate }}" ng-model='user.username'  name="username">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{"passwordLabel" | translate }}</span>
      <input type="password" placeholder="{{'passwordLabel' | translate }}" ng-model='user.password' name="password">
    </label>

  </div>
          <div class="padding">
            <button class="button button-block button-balanced" ng-click="signIn()">
              {{'loginBtn' | translate}}
            </button>
            <p class="text-center">
              <a href="#">{{'forgotpasswordLabel' | translate }}</a>
            </p>
          </div>
</form>
  </ion-content>
</ion-view>
</body>
</html>
