<html>
<head>


</head>
<body id="loginImg">
<ion-view view-title="{{'loginTitle' | translate }}">
  <ion-content>
 <div class="log"><img class="loglogo" src="img/pozadina.jpg"></img></div>
<form name="LoginForm" >
  <div class="login">
    <label class="item item-input item-floating-label">
      <span class="input-label">{{'organisationLabel' | translate }}</span>
      <div class="organ"><input type="text" ng-model='user.farm' placeholder="{{'organisationLabel' | translate }}" name="farm"></div>
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{"usernameLabel" | translate }}</span>
      <div class="korime"><input type="text" placeholder="{{'usernameLabel' | translate }}" ng-model='user.username'  name="username"></div>
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{"passwordLabel" | translate }}</span>
      <div class="sifra"><input type="password" placeholder="{{'passwordLabel' | translate }}" ng-model='user.password' name="password"></div>
    </label>

  </div>
          <div class="dno">
            <button class="logdugme" ng-click="signIn(user)">
              {{'loginBtn' | translate}}
            </button>
            

          </div>
          </form>
  </ion-content>
</ion-view>
</body>
</html>
