<html>
<head>

	
</head>
<body id="loginImg">
<ion-view view-title="Please Sign-in">
  <ion-content>
 

  <div class="inputi">
    <label class="item item-input item-floating-label">
      <span class="input-label">Username</span>
      <input type="text" placeholder="Username">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password">
    </label>
   
  </div>
          <div class="padding">
            <button class="button button-block button-balanced" ng-click="signIn(user)">
              Sign-In
            </button>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
            </p>
          </div>
  </ion-content>
</ion-view>
</body>
</html>