<ion-view view-title="{{'newOrder' | translate}}">
  <ion-content class="padding">



  <div class="inputi">
    <label class="item item-input item-floating-label">
      <span class="input-label">{{'operationLabel' | translate }}</span>
      <input type="text" placeholder="{{'operationLabel' | translate }}">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{'cultureLabel' | translate}}</span>
      <input type="text" placeholder="{{'cultureLabel' | translate}}">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{'inputLabel' | translate}}</span>
      <input type="text" placeholder="{{'inputLabel' | translate}}">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{'priceLabel' | translate}}</span>
      <input type="text" placeholder="{{'priceLabel' | translate}}">
    </label>
  </div>








  <onezone-datepicker datepicker-object="onezoneDatepicker">
    <button class="button button-block button-outline button-positive show-onezone-datepicker">
        {{'dateLabel' | translate}}: {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
    </button>
</onezone-datepicker>


  <button type="submit" class="button button-block button-balanced">
    {{'saveLabel' | translate}}
</button>

</form>





            </ion-content>
          </form>
        </ion-modal-view>
  </script>
    </div>
  </ion-content>
</ion-view>
