 <ion-view cache-view="false" view-title="{{'newOrder' | translate}}" >


  <ion-content>

        <div class="item item-divider">
            {{'podaciRNLabel' | translate}}
        </div>
         <div class="item" style="color:#000" required>
          {{'operationILabel' | translate }}: {{order.operacija.naziv}}
        </div>
        <div class="item item-body">
          <button class="button button-balanced" modal-select="" ng-model="order.operacija" options="operacija" modal-title="Izaberite operaciju" header-footer-class="bar-positive" has-search="true" sub-header-class="bar-positive">
          {{'chooseLabel' | translate}}

            <div class="option">
              {{option.naziv}}
            </div>
          </button>
        </div>
       





        <div class="item" style="color:#000">
          {{'cultureILabel' | translate}}: {{order.kultura.naziv}}
        </div>
        <div class="item item-body">
          <button class="button button-balanced" modal-select=""  ng-model="order.kultura" options="kultura" modal-title="Izaberite operaciju" header-footer-class="bar-positive" has-search="true" value="kultura" sub-header-class="bar-positive">
            {{'chooseLabel' | translate}}
            <div class="option">
              {{option.naziv}}
            </div>
            
          </button>
        </div>
       


        

 <div class="item item-divider">
    Radno vreme
  </div>

            <div class="item item-icon-left" ion-datetime-picker time ng-model="order.pocetak">
                <i class="icon ion-ios-clock positive"></i>
                Početak:
                <strong>{{order.pocetak| date: "H:mm"}}</strong>
            </div>
          
            <div class="item item-icon-left" ion-datetime-picker time ng-model="order.kraj">
                <i class="icon ion-ios-clock positive"></i>
                Kraj:
                <strong>{{order.kraj| date: "H:mm"}}</strong>
            </div>
           
   




 <div class="item item-divider">
    Troškovi
  </div>
    <label class="item item-input item-floating-label">
      <span class="input-label">{{'priceLabel' | translate}}</span>
      <input type="number" placeholder="{{'priceLabel' | translate}}"  ng-model="order.cena">
    </label> 
     <label class="item item-input item-floating-label">
      <span class="input-label">{{'priceLabel2' | translate}}</span>
      <input type="number" placeholder="{{'priceLabel2' | translate}}"  ng-model="order.cena2">
    </label> 


 <div class="item item-divider">
    Datumi
  </div>

  <onezone-datepicker datepicker-object="onezoneDatepicker" ng-model="order.vremePo">
    <button class="button button-block button-outline button-positive show-onezone-datepicker"  >
        {{'datePocetkaLabel' | translate}}: {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
    </button>
  </onezone-datepicker>

  <onezone-datepicker datepicker-object="onezoneDatepicker" ng-model="order.vremePl">
    <button class="button button-block button-outline button-positive show-onezone-datepicker"  >
        {{'datePlaniranLabel' | translate}}: {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
    </button>
  </onezone-datepicker>

  <onezone-datepicker datepicker-object="onezoneDatepicker" ng-model="order.vremeKr">
    <button class="button button-block button-outline button-positive show-onezone-datepicker"  >
        {{'dateZavrsetkaLabel' | translate}}: {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
    </button>
  </onezone-datepicker>


   <div class="item item-divider">
    Materijali
  </div>

        <div class="item" style="color:#000">
          {{'materijalLabel' | translate }}: {{order.materijal.naziv}}
        </div>
        <div class="item item-body">
          <button class="button button-balanced" modal-select="" ng-model="order.materijal" options="materijal" modal-title="Izaberite materijal" header-footer-class="bar-positive" has-search="true" sub-header-class="bar-positive">
          {{'chooseLabel' | translate}}

            <div class="option">
              {{option.naziv}}
            </div>
          </button>
        </div>


        <div class="item item-divider">
          {{'pogonskeLabel' | translate}}
        </div>


        <multiselect
          header-text="Izaberite pogonske mašine"
          items="pogonske_masine"
          text-property="naziv"
          value-property="naziv"
          is-translate="true"
          text="Izaberite pogonske mašine"
          modal-template-url="lib/ionic-multiselect/dist/templates/modal-template.html"
          template-url="lib/ionic-multiselect/dist/templates/item-template.html"
          value-changed="onValueChanged(value)">
        </multiselect>



     <!--    <div class="item item-divider">
          {{'tableLabel' | translate}}
        </div>

        <multiselect
          header-text="Izaberite table"
          items="table"
          text-property="naziv"
          value-property="id"
          is-translate="true"
          text="Izaberite table"
          modal-template-url="lib/ionic-multiselect/dist/templates/modal-template.html"
          template-url="lib/ionic-multiselect/dist/templates/item-template.html"
          value-changed="onValueChanged(value)">
        </multiselect> -->


        <div class="item item-divider">
          {{'prikljucnaLabel' | translate}}
        </div>

        <multiselect
          header-text="Izaberite priključne mašine"
          items="prikljucne_masine"
          text-property="naziv"
          value-property="naziv"
          is-translate="true"
          text="Izaberite priključne mašine"
          modal-template-url="lib/ionic-multiselect/dist/templates/modal-template.html"
          template-url="lib/ionic-multiselect/dist/templates/item-template.html"
          value-changed="onValueChanged(value)">
        </multiselect>

        <div class="item item-divider">
          {{'radniciLabel' | translate}}
        </div>

        <multiselect
          header-text="Izaberite radnike-izvršioce"
          items="radnici"
          text-property="prezime"
          text-property2="ime"
          value-property="id"
          text="Izaberite radnike-izvršioce"
          modal-template-url="lib/ionic-multiselect/dist/templates/modal-template.html"
          template-url="lib/ionic-multiselect/dist/templates/item-template.html"
          value-changed="onValueChanged(value)">
        </multiselect>




     









  <button type="submit" class="button button-block button-positive" ng-click="createOrder(order)">
    {{'saveLabel' | translate}}
</button>

</form>








          </form>
        </ion-modal-view>
  </script>
    </div>
  </ion-content>
</ion-view>
 