<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{order.operacija}}" hide-back-button="true">
  <ion-content class="pregled">
    <div class="operacija"><h5 ><b>Operacija : </b>{{order.operacija}}</h5></div>  
    <div class="operacija"><h5 ><b>Kultura : </b> {{order.kultura}}</h5></div>
    <div class="operacija"><h5><b>Materijal : </b>{{order.materijal}}</h5></div>
    <div class="operacija"><h5><b>Ukupan trošak : </b>{{order.cena}}</h5></div>
    <div class="operacija"><h5 ><b>Ukupan prihod : </b> {{order.cena2}}</h5></div>

    <!-- radno vreme -->
    <div class="operacija"><h5 ><b>Početak radnog vremena : </b> {{order.pocetak}}</h5></div>
    <div class="operacija"><h5 ><b>Kraj radnog vremena : </b> {{order.kraj}}</h5></div>
    
    <!-- Datumi -->
    <div class="operacija"><h5 ><b>Datum planiran : </b> {{order.vremePl}}</h5></div>
    <div class="operacija"><h5 ><b>Datum početka : </b> {{order.vremePo}}</h5></div>
    <div class="operacija"><h5 ><b>Datum završetka : </b> {{order.vremeKr}}</h5></div>

  </ion-content>
</ion-view>
