<ion-view view-title="{{'listOfOrdersLabel' | translate}}">
  <ion-content>
    <ion-list>

    <!-- search -->
 
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" placeholder="{{'searchOrdersLabel' | translate }}" ng-model="searchOrders">
        </label>
        Sort by:
           <select ng-model="sortiranje"> 
      <option value="operacija" selected="selected">Name</option>
      <option value="-vreme">Time</option>
    </select>
      </div>


    <!-- lista -->
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders | filter:searchOrders | orderBy:sortiranje" type="item-text-wrap" href="#/tab/orders/{{order.id}}">

        <h2 ><b>{{'operationLabel' | translate}}: </b>{{order.operacija}}</h2>
        <p ><b>{{'timeLabel' | translate}}:</b> {{order.vreme}}</p>

        <i class="icon ion-chevron-right ion-ios-arrow-left"></i>

        <ion-option-button class="button-assertive" ng-click="remove(order)" style="width: 164px; height: 100px">Delete</ion-option-button>

        <ion-option-button class="button-balanced" ng-click="edit(order)" style="width: 164px; height: 100px">Edit  </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
