<ion-view view-title="Novi radni nalog">
  <ion-content class="padding">



  <div class="inputi">
    <label class="item item-input item-floating-label">
      <span class="input-label">Operacija</span>
      <input type="text" placeholder="Operacija">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Kultura</span>
      <input type="text" placeholder="Kultura">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Input</span>
      <input type="text" placeholder="Input">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Cena</span>
      <input type="text" placeholder="Cena">
    </label>
  </div>








  <onezone-datepicker datepicker-object="onezoneDatepicker">
    <button class="button button-block button-outline button-positive show-onezone-datepicker">
        Datum: {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
    </button>
</onezone-datepicker>


  <button type="submit" class="button button-block button-balanced">
    Sačuvaj
</button>

</form>





            </ion-content>
          </form>
        </ion-modal-view>
  </script>
    </div>
  </ion-content>
</ion-view>
