<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{order.operacija}}" hide-back-button="true">
  <ion-content class="padding">
    <h5 ><b>Operacija: </b>{{order.operacija}}</h5>
    <h5 ><b>Kultura:</b> {{order.kultura}}</h5>
    <h5><b>Input: </b>{{order.input}}</h5>
    <h5><b>Ukupna cena: </b>{{order.cena}}</h5>

    <h5 ><b>Vreme:</b> {{order.vreme}}</h5>
    <!-- <button class="button icon-left ion-navigate button-positive">{{"showOnMapLabel" | translate}}</button> -->

  </ion-content>
</ion-view>
