<ion-view view-title="Field report List">
  <ion-content>
    <ion-list>

    <!-- search -->
 
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" placeholder="{{'searchOrdersLabel' | translate }}" ng-model="searchReports">
        </label>

      </div>

<label class = "item item-input item-select">
   <div class = "input-label">
      Sort by : 
   </div>
  
   <select class="form-control" ng-model="sortiranje">
        <option value="operacija" selected="selected">Name</option>
        <option value="-vreme">Time</option>
   </select>
</label>
    <!-- lista -->
 <!--      <ion-item class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="report in beleska" type="item-text-wrap" href="#/tab/beleska/{{report.id}}">
 -->
   <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="report in beleska | filter:searchReports | orderBy:sortiranje" type="item-text-wrap" href="#/tab/beleska/{{report.id}}">
        <p>Date of visit: {{report.datum}}</p>
        <p>Region: {{report.katOpst}}</p>
        <p>Plot: {{report.parcela}}</p>
        <p>Type of activity: {{report.vrstaAktivnosti}}</p>

        <i class="icon ion-chevron-right ion-ios-arrow-left"></i>

          <ion-option-button class="button-assertive" ng-click="remove(report)"
           style="width: 164px; height: 100px">Delete</ion-option-button>

          <ion-option-button class="button-balanced" ng-click="edit(report)"
           style="width: 164px; height: 100px">Edit  </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
