<ion-view view-title="Items">
    <div ng-if="!vm.isCreating && !vm.isEditing">
        <ion-content class="padding has-header">
            <!-- LIST -->
            <div class="bar bar-header">
                <span><button class="button button-positive" ng-click="vm.goToBackand()">{{'needHelpLabel' | translate}}</button></span>
                <span ng-click="vm.isCreating = true"><i class='icon ion-plus-round new-item'> {{'addItemLabel' | translate}}</i></span>
            </div>
            <div class="bar bar-subheader">
                <div class="list card" ng-repeat="object in vm.data"
                     ng-class="{'active':vm.isCurrent(object.id)}">
                    <div class="item item-icon-right item-icon-left">
                        <i class="ion-compose icon" ng-click="vm.setEdited(object)"></i>

                        <h2 class="text-center">{{object.name}}</h2>
                        <i class="icon ion-close-round" ng-click="vm.delete(object.id)"></i>
                    </div>
                    <div class="item item-body">
                        {{object.description}}
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isCreating">
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <div class="bar bar-header">
                <h2 class="title">{{'createItemLabel' | translate}}</h2>
                <span ng-click="vm.cancelCreate()" class="cancel-create">{{'cancelLabel' | translate}}</span>
            </div>
            <div class="bar bar-subheader">
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">{{"nameLabel" | translate}}</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.name"
                                   placeholder="{{'enterNameLabel' | translate}}">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">{{'descriptionLabel' | translate}}</span>
                        <textarea placeholder="Comments" class="form-control"
                                  ng-model="vm.newObject.description"
                                  placeholder="{{'enterDescriptionLabel' | translate}}"></textarea>
                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">{{'createLabel' | translate}}</button>
                </form>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isEditing && !vm.isCreating">
        <ion-content class="padding has-header">
            <!-- EDITING -->
            <div class="bar bar-header bar-secondary">
                <h1 class="title">{{'editingLabel' | translate}} {{vm.edited.name}}</h1>
                <span ng-click="vm.cancelEditing()" class="cancel-create">{{'cancelLabel' | translate}}</span>
            </div>
            <div class="bar bar-subheader">
                <form class="edit-form" role="form"
                      ng-submit="vm.update(vm.edited)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">{{"nameLabel" | translate}}</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.name"
                                   placeholder="{{'enterNameLabel' | translate }}">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">{{'descriptionLabel' | translate}}</span>
                    <textarea class="form-control"
                              ng-model="vm.edited.description"
                              placeholder="{{'enterDescriptionLabel' | translate}}"></textarea>

                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">{{'saveLabel' | translate}}</button>
                </form>
            </div>
        </ion-content>
    </div>
</ion-view>

