<ion-view view-title="New field report">
  <ion-content class="padding">

    <onezone-datepicker datepicker-object="onezoneDatepicker">
      <button class="button button-block button-outline button-positive show-onezone-datepicker">
        Date of visit: {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
      </button>
    </onezone-datepicker>

    <div class="inputi">
      <label class="item item-input item-floating-label">
        <span class="input-label">Region</span>
        <input type="text" placeholder="Region">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Plot</span>
        <input type="text" placeholder="Plot">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Type of activity</span>
        <input type="text" placeholder="Type of activity">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Comment</span>
        <input type="text" placeholder="Comment">
      </label>
    </div>

    <button type="submit" class="button button-block button-balanced">
      Submit
    </button>

  </ion-content>
</ion-view>
